<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passive Search Tool</title>
    <link rel="icon" href="{{ url_for('static', filename='img/loupe.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <!-- <span>🕵️</span> -->
            <img src="{{ url_for('static', filename='img/searcher.png') }}" alt="Logo">
            <h1>Passive Search Tool v1.0.0</h1>
        </div>
        
        <div class="tabs">
            <div class="tab active" data-tab="username">Search by Username</div>
            <div class="tab" data-tab="fullname">Search by Full Name</div>
            <div class="tab" data-tab="ip">Search by IP address</div>
        </div>
        
        <div class="tab-content active" id="username-tab">
            <form id="username-form">
                <label for="username">Username :</label>
                <input type="text" id="username" name="username" placeholder="Ex: Jeanga7" required>
                <button type="submit">Search for 🔍</button>
            </form>
        </div>
        
        <div class="tab-content" id="fullname-tab">
            <form id="fullname-form">
                <label for="fullname">Full name :</label>
                <input type="text" id="fullname" name="fullname" placeholder="Ex: Jean Dupont" required>
                <button type="submit">Search for 🔍</button>
            </form>
        </div>
        
        <div class="tab-content" id="ip-tab">
            <form id="ip-form">
                <label for="ip">IP address :</label>
                <input type="text" id="ip" name="ip" placeholder="Ex: 8.8.8.8" required>
                <button type="submit">Search for 🔍</button>
            </form>
        </div>
        
        <div class="loading">
            <div class="spinner"></div>
            <p>Research in progress, please wait...</p>
        </div>
        
        <div class="error" id="error-message"></div>
        <div class="result" id="search-result"></div>
        <button class="download-btn" id="download-btn">Download results 💾</button>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>